<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <%= render "/refinery/header" -%>
      <section id="page" class="container-fluid">
        <%= yield %>
      </section>   
        <%= render "/refinery/footer" -%>
    </div>
    <%= render "/refinery/javascripts" %>
    <script type="text/javascript">
      jQuery(function() {
        $("a.fancybox-iframe").fancybox({
          'type' : 'iframe',
          'width': 550,
          'height': 570
        });
      });
    </script>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
